{% load bootstrap5 %}
{% load static %}
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
    {% bootstrap_css %}
  <!-- Favicons -->
  <link href="{% static 'assets/img/trans-logo.svg'%}" rel="icon">
  <!-- Google Fonts -->
  <link href="{% static 'assets/fonts/fonts.css' %}" rel="stylesheet">
  <!-- Vendor CSS Files -->

  <link href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.css" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/glightbox/3.2.0/css/glightbox.min.css" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/4.1.0/remixicon.min.css" rel="stylesheet">
  <!-- CSS Style -->
  <link href="{% static 'assets/css/style.css'%}" rel="stylesheet">


