{% load i18n %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
 <title>Про нас | Transimpex | Детальніше про команду</title>
 <meta name="description" content="">
 <link rel="canonical" href="">
</head>
<body>
{#<div class="preloader">#}
{#  <div class="spinner"></div>#}
{#</div>#}

{%include 'blocks/head.html'%}
  <!-- ======= Header ======= -->
  {% include 'blocks/header.html' %}
{% include 'blocks/breadcrumbs.html' %}
<!-- End Header -->

<section id="about-us" class="about-us">
    <div class="container" data-aos="fade-up">
       <div class="section-header">
          <h2>{% translate 'Про нас' %}</h2>
          <p>{% trans "Наша місія" %}</p>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <img src="{% static 'assets/img/about.jpg'%}" alt="main_img" class="img-fluid mb-3" loading="lazy">
            </div>
            <div class="col-lg-6">
               {% trans "У <strong>Transimpex</strong>, ми надихаємося можливістю трансформувати світ навколо нас через інновації в технологіях. <strong>Наша місія</strong> полягає в тому, щоб розробляти програмні рішення, які не тільки відповідають сучасним вимогам ринку, але й ведуть бізнес наших клієнтів до нових горизонтів успіху. Ми <strong>створюємо</strong> продукти, що змінюють правила гри, впроваджуючи передові технології та інноваційні підходи в кожен проект.<strong>Наша мета</strong> — допомагати організаціям реалізовувати їхній потенціал через цифрову трансформацію, забезпечуючи їм інструменти для ефективної взаємодії з клієнтами, оптимізації процесів та відкриття нових можливостей для зростання. <strong> Ми віримо</strong>, що правильно розроблене програмне забезпечення може стати ключовим фактором успіху в будь-якому бізнесі." %}
               <p>{% trans "За допомогою нашої праці <strong>ми прагнемо</strong>:" %} </p>
                <ul>
                    <li>{% trans "<b>Інновувати</b>: Впроваджувати новітні технологічні рішення, що відкривають нові можливості для наших клієнтів, надавати компаніям інструменти та знання, необхідні для досягнення їхніх цілей в цифровому світі." %} </li>
                    <li>{% trans "<b>Розробляти якісні продукти</b>: Забезпечувати неперевершену якість наших продуктів та послуг, відповідно до найвищих стандартів галузі." %} </li>
                    <li>{% trans "<b>Будувати міцне партнерство</b>: Будувати міцні, довгострокові відносини з нашими клієнтами, базуючись на взаємній довірі та співпраці." %} </li>
                </ul>
                {% trans "Ми в <strong>Transimpex</strong> віддані своїй місії розробляти програмне забезпечення, яке не просто задовольняє потреби сьогодення, але й веде нас у майбутнє, де технології та людський потенціал зливаються для створення кращого завтра." %}
            </div>
        </div>
    </div>
</section>
 <!-- ======= Team ======= -->
{% include 'blocks/team.html' %}
  <!-- ======= Services ======= -->
{% include 'content_pages/services.html'%}
 <!-- ======= Meet setup ======= -->
{#{% include 'blocks/meet-setup.html' %}#}
  <!-- ======= Footer ======= -->
{% include 'blocks/footer.html'%}
  <!-- End Footer -->
{% include 'blocks/scripts.html'%}
</body>

</html>